.navbar {
    display: flex;
    background-color: rgb(185, 226, 253);
  }
  
  .ul-navbar {
    display: flex;
    margin-right: 1rem;
    a {
        text-decoration: none;
        color: black;
    }
    li {
        list-style-type: none;
        margin: 1rem;
        font-size: 1.3rem
    }
  }

  .ul-navbar {
    a:hover {
      color: rgb(179, 58, 58);
    }
  }
  
  .header-navbar {
    margin: 1rem;
  }

.logo {
  height: 6rem;
  
}