.sumar {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(165, 230, 68);
}

.resta {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(241, 129, 129);
}

.clicks {
    margin-left: 2.2rem;
}